.imagen {
    height: 55px;
}

ion-input {
    --background: #fff;
    color: #000;
    border-radius: 10px;
    padding-right: 50px;
    width: 100%;
    text-align: left;
}

.barra {
    padding: 1px;
    border: 0;
}