<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="10" class="centrar">
        <input type="text" name="buscar" #texto class="caja">
      </ion-col>
      <ion-col size="2" class="ion-align-items-start">
        <ion-button (click)="buscar(texto.value)" fill="solid" color="primary">
          <ion-icon name="search-outline" class="ion-text-center"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-padding">
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-grid fixed>
              <ion-row *ngFor="let producto of resultado">
                <ion-col size="6" size-md="3" (click)="mostrar(producto.codProd)">
                  <img src="{{ producto | imagenes }}" class="imagen">
                </ion-col>
                <ion-col size="6" size-md="3">
                  {{ producto.codProd }}
                </ion-col>
                <ion-col size="12" size-md="6">
                  {{ producto.descrip }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--app-explore-container name="Tab 2 page"></app-explore-container-->
</ion-content>
